@import 'variables.scss';

@mixin kb-link {
    color: $primary;
    text-decoration: none;
    cursor: pointer;

    &:active {
        font-weight: 700;
    }

    &:hover{
        text-decoration: underline;
    }
}